@media only screen and (max-width: 500px) {
    body { font-size=1.5em;  }
    .header {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    text-align: center;
        font-size: xx-small;
     height: 3.5em; }
    .marketing { margin: 0; text-align: center; padding: 0; }
    h3.text-muted { visibility: hidden;
         }
         .jumbotron { padding-top:0; padding-bottom: 0}

    h1 { margin-top: .2em; padding-top: .3em; }

}
